<div class="item">
  <div class="buttons">
    <%= link_to "", order_item, {data: {confirm: "确认从购物车中删除 '#{order_item.product.name}' ?"}, method: :delete, remote: true, class: "delete-btn"} %>
  </div>

  <div class="image">
    <%= image_tag(product.image.variant(resize_to_fill: [192, 192]), class: "img-fluid") if product.image.attached? %>
  </div>

  <div class="description">
    <span><%= product.name %></span>
    <span>单价: ¥ <%= order_item.unit_price_yuan %></span>
    <span><%= product.specification %></span>
  </div>

  <%= form_for order_item, remote: true do |f| %>
    <div class="quantity">
      <%= f.button "", value: "add", type: :submit, class: "plus-btn" do %>
        <img src="<%= image_url('icons/plus.svg') %>" alt="" />
      <% end %>
      <%= f.text_field :quantity, value: order_item.quantity.to_i, disabled: true %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.button "", value: "minus", type: :submit, class: "minus-btn" do %>
        <img src="<%= image_url('icons/minus.svg') %>" alt="" />
      <% end %>
    </div>
  <% end %>

  <div class="total-price">¥ <%= order_item.total_price_yuan %></div>
</div>
