<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 p-4 bg-white">
      <div class="row">
        <%= image_tag(@product.image.variant(resize_to_fill: [360, 360]), class: "img-fluid", draggable: "false") if @product.image.attached? %>
        <div class="product-title">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="text-muted"> 价格: ¥<%= @product.sell_price_fen_yuan %></p>
          <p class="text-muted"> 规格: <%= @product.specification %></p>
          <p class="text-muted"> 生产厂商: <%= @product.vendor_cn %></p>
          <div class="mt-5">
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <div class="input-group mb-3">
                <%= f.number_field :quantity, value: 1, class: "form-control", min: 1  %>
                <div class="input-group-append">
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.submit "加入购物车", class: "btn btn-outline-primary btn-append" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h5 class="title-warning">商品描述</h5>
        <div class="row justify-content-center mt-5">
          <img src="<%= image_url('car.png') %>" width="520" height="300" alt="没有描述" draggable="false" />
        </div>
        <div class="row justify-content-center">
          <p class="text-muted">没有描述</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.product-title {
  padding-left: 20px;
}

.btn-append {
  margin: 0 !important;
  padding: 0 0.65em !important;
}
</style>