<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-3 p-4 card bg-white">
      <h5>支付订单</h5>
      <p><span id="expiry_time" class="text-warning"></span> 后支付过期, 请尽快完成支付.</p>
      <form action="/charges" method="post" id="payment-form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="item-tb-l pl-3 pb-3 mt-3 pt-3">
          <label class="text-muted"><i class='fa fa-address-book'></i> 收货地址</label>
          <div class="text-muted">
            <%= @address.name %> <%= @address.cellphone %>
          </div>
          <div class="text-muted">
            <%= @address.address%>
          </div>
          <div class="text-muted">
            <%= @address.post %>
          </div>
        </div>
        <div class="form-row item-b-l mt-2">
          <div id="card-element" class="w-100">
            <!-- A Stripe Element will be inserted here. -->
            <% current_order.order_items.each do |order_item| %>
              <div class="row justify-content-between mt-2 pl-3 pr-3 pb-3">
                <div class="text-muted">
                  <%= order_item&.product&.name %>
                  ¥ <%= order_item.unit_price_yuan %> <span class="pl-3 pr-3">x</span> <%= order_item.quantity.to_i %>
                </div>
                <div>
                  ¥ <%= order_item.total_price_yuan %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Used to display form errors. -->
          <br />
          <div class="alert-danger text-center" id="card-errors" role="alert"></div>
        </div>
        <div class="row justify-content-end mt-3 pl-3 pr-2 pb-3">
          总计: ¥ <%= current_order.subtotal_yuan %>
        </div>

        <br/>
        <button class="btn btn-info">支付</button>
      </form>

  </div>
</div>

<script type="text/javascript">
  function countDown(second) {
    const s = second % 60
    const m = Math.floor(second / 60)
    return `${`00${m}`.slice(-2)} : ${`00${s}`.slice(-2)}`
  }

  var isPayTimeout = false
  var payTimeout = 60 * 15

  var timer = setInterval(() => {
    var payTimeoutFormat = countDown(payTimeout--)
    $("#expiry_time").text(payTimeoutFormat)
    if (payTimeout < 0) {
      isPayTimeout = true
      clearInterval(timer)
    }
  }, 1000)
</script>

<style>
.item-b-l {
  border-bottom: 1px solid #ecf0f3;
}

.item-tb-l {
  border-top: 1px solid #ecf0f3;
  border-bottom: 1px solid #ecf0f3;
}
</style>