<!DOCTYPE html>
<html>
  <head>
    <title>同城自驾游</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <!-- <div class="mt-2">
      <%= render "layouts/alert" %> 
    </div> -->

    <script>
      <%= ajax_flash %>
    </script>
    <div class="mt-3">
      <%= bread_crumb do %>
        <%= render_breadcrumbs separator: '&nbsp;&nbsp;>&nbsp;&nbsp;' %>
      <% end %>
    </div>
    
    <div class="container">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
